language: go
dist: focal

go:
- 1.16.x

branches:
  only:
    - master

before_script:
  - go version
  - GOPATH=$GOPATH:`pwd`

script:
  - make check
  - make test

after_success:
  - echo "success"
 
after_failure:
  - echo "failure"
