language: go
dist: trusty

go:
- 1.11.x

branches:
  only:
    - master

before_script:
  - go version
  - go get -u golang.org/x/lint/golint
  - GOLINT=`go list -f {{.Target}} golang.org/x/lint/golint`
  - PATH=$PATH:$GOLINT

script:
  - make check

after_success:
  - echo "success"
 
after_failure:
  - echo "failure"
